$font: acumin-pro, sans-serif;
$darkblue:  #152260;
$midblue: #21379a;
$blue: #2239A0;
$light: #DBE4FF;
$a-hov: #8CA9FF;
$k-hov: #605DC6;
$footer: #0e1742;
$foot-bot: #0a102d;


@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin col {
    display: flex;
    flex-direction: column;
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
}