// sass --watch sass:public/css --style compressed
@import '_vars';
@import 'modules/_login';
@import 'modules/_profile';
@import 'modules/_home';
@import 'modules/_banner';
@import 'modules/_kid';
@import 'modules/_footer';

.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: $font;
    font-weight: bold;
}

p, label, input, textarea, a {
    font-family: $font;
}

p {
    color: $light;
}

video {
    width: 100%;
}

img {
    width: 100%;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}