#app {
    #banner {
        .videoWrapper {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: rgba(14, 23, 66, 0.9);
            z-index: 99;
            a {
                font-size: 20px;
                position: absolute;
                z-index: 99;
                color: $light;
                right: 0;
                margin-right: 5px;
                margin-top: 5px;
                &:hover {
                    color: $a-hov;
                    transition: all ease 0.4s;
                }
            }
        }
        .mainBan {
            position: fixed;
            background-color: rgba(14, 23, 66, 0.9);
            width: 80%;
            height: 100%;
            top: 0;
            padding: 10%;
            @include col;
            z-index: 66;
            a {
                @include row;
                margin-left: auto;
                .fa {
                    color: $light;
                }
                p {
                    margin-left: 10px;
                }
                &:hover {
                    transition: all ease 0.4s;
                    .fa {
                        color: $a-hov;
                    }
                    p {
                        color: $a-hov;
                    }
                }
            }
            .banCon {
                @include col;
                overflow: scroll;
                height: 450px;
                .row {
                    @include col;
                    margin-top: 40px;
                    
                    h3 {
                        color: $light;
                        font-size: 27px;
                        margin-bottom: 20px;
                    }
                    h4 {
                        color: $light;
                        font-size: 24px;
                        margin-bottom: 30px;
                    }
                    button {
                        color: $light;
                        font-size: 15px;
                        border: $a-hov 2px solid;
                        background: transparent;
                        border-radius: 20px;
                        padding: 5px 10px 6px 10px;
                        width: 60px;
                        &:hover {
                            transition: ease all 0.4s;
                            color: $darkblue;
                            background-color: $a-hov;
                        }
                    }
                    p {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    .mpaa {
                        background-color: $blue;
                        padding: 1px 2px;
                        align-self: flex-start;
                    }
                }
            }
        }
        .backBan {
            position: relative;
            z-index: 4;
            .overImg {
                position: absolute;
                bottom: 0;
                padding-left: 20px;
                margin-bottom: 30px;
                width: 290px;
                h3 {
                    width: 90%;
                    color: $light;
                    font-size: 30px;
                    overflow-wrap: break-word;
                    hyphens: auto;
                }
                p {
                    font-size: 15px;
                    margin-top: 10px;
                }
                .banBtn {
                    width: 220px;
                    @include row;
                    justify-content: space-between;
                    margin-top: 30px;
                    button {
                        font-size: 15px;
                        color: $light;
                        border: 2px $light solid;
                        background-color: transparent;
                        padding: 8px 15px;
                        border-radius: 20px;
                        &:hover {
                            border: 2px $a-hov solid;
                            color: $foot-bot;
                            transition: all ease 0.4s;
                            background-color: $a-hov;
                        }
                    }
                }
            }
            .imgCrop {
                position: relative;
                width: 100%;
                overflow: hidden;
                img {
                    // position: relative;
                    width: 220%;
                    z-index: -2;
                    margin-left: -230px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #app {
        #banner {
            .videoWrapper {
                a {
                    font-size: 24px;
                }
            }
            .mainBan {
                width: 90%;
                padding: 5%;
                a {
                    p {
                        font-size: 15px;
                    }
                }
                .banCon {
                    @include row;
                    height: 100%;
                    justify-content: space-between;
                    .row {
                        width: 40%;
                        margin-top: 60px;
                        h3 {
                            font-size: 32px;
                        }
                        h4 {
                            font-size: 20px;
                        }
                        button {
                            font-size: 16px;
                            padding: 8px 15px 10px 15px;
                            width: 80px;
                            margin-top: 5px;
                        }
                        p {
                            font-size: 20px;
                            margin-bottom: 12px;
                        }
                        .sum {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                }
            }
            .backBan {
                .overImg {
                    padding-left: 50px;
                    width: 100%;
                    h3 {
                        width: 100%;
                        font-size: 35px;
                    }
                    p {
                        font-size: 19px;
                    }
                    .banBtn {
                        margin-top: 20px;
                    }
                }
                .imgCrop {
                    img {
                        width: 100%;
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    #app {
        #banner {
            .videoWrapper {
                a {
                    font-size: 28px;
                }
            }
            .mainBan {
                a {
                    p {
                        font-size: 18px;
                    }
                }
                .banCon {
                    .row {
                        width: 35%;
                        margin-top: 120px;
                        h3 {
                            font-size: 38px;
                        }
                        h4 {
                            font-size: 25px;
                        }
                        button {
                            font-size: 18px;
                            padding: 8px 10px 10px 10px;
                            margin-top: 10px;
                        }
                        p {
                            font-size: 25px;
                            margin-bottom: 12px;
                        }
                        .sum {
                            font-size: 17px;
                            line-height: 19px;
                        }
                    }
                }
            }
            .backBan {
                .overImg {
                    padding-left: 60px;
                    margin-bottom: 50px;
                    h3 {
                        // width: 100%;
                        font-size: 40px;
                    }
                    p {
                        font-size: 25px;
                    }
                    .banBtn {
                        margin-top: 30px;
                        width: 310px;
                        button {
                            font-size: 19px;
                            padding: 10px 25px;
                            border-radius: 25px;
                        }
                    }
                }
                .imgCrop {
                    img {
                        width: 100%;
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}