#app {
    #mainHeader {
        position: absolute;
        img{
            width: 121px;
            margin-top: 28px;
            margin-left: 22px;
        }
    }
    .homeWrapper {
        padding-top: 70px;
        background-color: $darkblue;
        .home {
            // position: relative;
            img {
                position: absolute;
                width: 134px;
            }
            #welcome {
                position: relative;
                padding: 30px;
                h2 {
                    color: $a-hov;
                    font-size: 35px;
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
                p {
                    width: 80%;
                    font-size: 16px;
                    line-height: 23px;
                    margin-bottom: 40px;
                }
            }
        }
        #homeOption {
            background-color: $midblue;
            padding-top: 30px;
            padding-bottom: 20px;
            .signInCon, .signUpCon {
                background-color: $darkblue;
                width: 60%;
                @include center;
                @include col;
                padding: 10%;
                border-radius: 10px;
                h2 {
                    color: $a-hov;
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 20px;
                }
                .form {
                    margin-bottom: 20px;
                    @include col;
                    align-items: center;
                    .formCol {
                        @include col;
                        width: 100%;
                        label {
                            margin-bottom: 10px;
                            color: $light;
                            font-size: 12px;
                        }
                        input {
                            margin-bottom: 20px;
                            border-radius: 7px;
                            border: 2px solid $a-hov;
                            background-color: transparent;
                            line-height: 15px;
                            color: $footer;
                            &:focus {
                                background-color: $a-hov;
                            }
                            &:valid {
                                background-color: $a-hov;
                            }
                        }
                    }
                    input[type=submit] {
                        color: $light;
                        text-align: center;
                        border: 2px solid $a-hov;
                        background-color: transparent;
                        border-radius: 15px;
                        padding: 5px 20px 5px 20px;
                        &:hover {
                            color: $footer;
                            background-color: $a-hov;
                            transition: all ease 0.4s;
                        }
                    }
                }
                p {
                    font-size: 12px;
                    margin-bottom: 4px;
                }
                a {
                    color: $light;
                    font-size: 12px;
                    border-bottom: $light 1px solid;
                    width: 22%;
                    padding-bottom: 2px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #app {
        #mainHeader {
            img{
                margin-left: 35px;
            }
        }
        .homeWrapper {
            padding-top: 0px;
            @include row;
            .home {
                width: 45%;
                img {
                    margin-top: 50px;
                    width: 210px;
                }
                #welcome {
                    margin-top: 190px;
                    margin-left: 30px;
                    padding: 0px;
                    h2 {
                        font-size: 43px;
                        margin-top: 0px;
                        margin-bottom: 30px;
                    }
                    p {
                        width: 100%;
                        font-size: 20px;
                        line-height: 25px;
                    }
                }
            }
            #homeOption {
                width: 55%;
                padding-top: 100px;
                padding-bottom: 40px;
                .decLine {
                    width: 10%;
                    border-bottom: $darkblue 7px solid;
                    border-radius: 20px;
                    position: absolute;
                    right: 0;
                    margin-top: -45px;
                }
                .signInCon, .signUpCon {
                    width: 65%;
                    padding-bottom: 7%;
                    h2 {
                        font-size: 27px;
                    }
                    .form {
                        margin-bottom: 30px;
                        .formCol {
                            label {
                                margin-bottom: 15px;
                                font-size: 15px;
                            }
                            input {
                                margin-bottom: 30px;
                                border-radius: 10px;
                                font-size: 20px;
                                line-height: 20px;
                            }
                        }
                        input[type=submit] {
                            border-radius: 20px;
                            padding: 5px 25px 5px 25px;
                            font-size: 16px
                        }
                    }
                    p {
                        font-size: 15px;
                        margin-bottom: 10px;
                    }
                    a {
                        font-size: 15px;
                        width: 20%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    #app {
        #mainHeader {
            img{
                width: 190px;
                margin-left: 50px;
                margin-top: 35px;
            }
        }
        .homeWrapper {
            .home {
                img {
                    margin-top: 70px;
                    width: 300px;
                }
                #welcome {
                    margin-top: 240px;
                    margin-left: 52px;
                    h2 {
                        font-size: 55px;
                        margin-bottom: 40px;
                    }
                    p {
                        width: 90%;
                        font-size: 26px;
                        line-height: 35px;
                    }
                }
            }
            #homeOption {
                padding-top: 120px;
                padding-bottom: 70px;
                .decLine {
                    width: 20%;
                    border-bottom: $darkblue 8px solid;
                    margin-top: -65px;
                }
                .signInCon, .signUpCon {
                    width: 50%;
                    // padding-bottom: 7%;
                    h2 {
                        font-size: 35px;
                    }
                    .form {
                        margin-bottom: 40px;
                        .formCol {
                            label {
                                margin-bottom: 17px;
                                font-size: 20px;
                            }
                            input {
                                margin-bottom: 40px;
                                // border-radius: 10px;
                                font-size: 25px;
                                line-height: 25px;
                            }
                        }
                        input[type=submit] {
                            border-radius: 22px;
                            padding: 5px 35px 7px 35px;
                            font-size: 20px;
                        }
                    }
                    p {
                        font-size: 20px;
                        // margin-bottom: 10px;
                    }
                    a {
                        font-size: 20px;
                        width: 25%;
                    }
                }
            }
        }
    }
}