nav { 
    h3 { float: left; margin: 0; }

    ul { text-align: right; }

    i { cursor: pointer; font-size: 1.25em; }
}

.u-avatar { 
    width: 40px;
}

.u-login { color: red }

.logged-in { color: green; }